In [1]:
# imports

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

data_dict = pd.read_csv("data/datadict.csv")
df = pd.read_csv("data/DataCoSupplyChainDataset.csv", encoding='ISO-8859-1')

### data cleaning

In [2]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [3]:
df.shape

(180519, 53)

In [4]:
# List of columns to drop
columns_to_drop = ['Category Id', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Zipcode', 'Department Id', 'Order Item Id',
                  'Product Image', 'Order Zipcode', 'Customer Id', 'Customer Street','Order Customer Id',
        'Order Id', 'Order Item Cardprod Id', 'Product Status', 'Late_delivery_risk'
                  ]

# Drop the specified columns
df = df.drop(columns=columns_to_drop, axis=1)
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [5]:
# df["Customer Lname"].nunique()

# for i in df.columns:
#     print(i)
#     print(df[i].nunique())
#     print()

In [6]:
df['customer_country'] = df['customer_country'].replace('EE. UU.', 'US')

df['order_date_(dateorders)'] = pd.to_datetime(df['order_date_(dateorders)'])
df['shipping_date_(dateorders)'] = pd.to_datetime(df['shipping_date_(dateorders)'])

# Remove parentheses from column names
df = df.rename(columns=lambda x: x.replace('(', '').replace(')', ''))




columns_to_drop = ['product_card_id', 'product_category_id']
df = df.drop(columns=columns_to_drop, axis=1)

In [7]:
df.iloc[:, 0:].head()

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,delivery_status,category_name,customer_city,customer_country,customer_segment,...,order_item_total,order_profit_per_order,order_region,order_state,order_status,product_description,product_name,product_price,shipping_date_dateorders,shipping_mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,Sporting Goods,Caguas,Puerto Rico,Consumer,...,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,Smart watch,327.75,2018-02-03 22:56:00,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,Sporting Goods,Caguas,Puerto Rico,Consumer,...,311.359985,-249.089996,South Asia,Rajastán,PENDING,NaN,Smart watch,327.75,2018-01-18 12:27:00,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,Sporting Goods,San Jose,US,Consumer,...,309.720001,-247.779999,South Asia,Rajastán,CLOSED,NaN,Smart watch,327.75,2018-01-17 12:06:00,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,Sporting Goods,Los Angeles,US,Home Office,...,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,Smart watch,327.75,2018-01-16 11:45:00,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,Sporting Goods,Caguas,Puerto Rico,Corporate,...,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,Smart watch,327.75,2018-01-15 11:24:00,Standard Class

In [8]:
df.columns

Index(['type', 'days_for_shipping_real', 'days_for_shipment_scheduled',
       'benefit_per_order', 'sales_per_customer', 'delivery_status',
       'category_name', 'customer_city', 'customer_country',
       'customer_segment', 'customer_state', 'department_name', 'latitude',
       'longitude', 'market', 'order_city', 'order_country',
       'order_date_dateorders', 'order_item_discount',
       'order_item_discount_rate', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_description', 'product_name',
       'product_price', 'shipping_date_dateorders', 'shipping_mode'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   type                         180519 non-null  object
 1   days_for_shipping_real       180519 non-null  int64
 2   days_for_shipment_scheduled  180519 non-null  int64
 3   benefit_per_order            180519 non-null  float64
 4   sales_per_customer           180519 non-null  float64
 5   delivery_status              180519 non-null  object
 6   category_name                180519 non-null  object
 7   customer_city                180519 non-null  object
 8   customer_country             180519 non-null  object
 9   customer_segment             180519 non-null  object
 10  customer_state               180519 non-null  object
 11  department_name              180519 non-null  object
 12  latitude                     180519 non-null  float64
 13  longitude                    180519 non-null  float64
 14  market                       180519 non-null  object
 15  order_city                   180519 non-null  object
 16  order_country                180519 non-null  object
 17  order_date_dateorders        180519 non-null  datetime64[ns]
 18  order_item_discount          180519 non-null  float64
 19  order_item_discount_rate     180519 non-null  float64
 20  order_item_product_price     180519 non-null  float64
 21  order_item_profit_ratio      180519 non-null  float64
 22  order_item_quantity          180519 non-null  int64
 23  sales                        180519 non-null  float64
 24  order_item_total             180519 non-null  float64
 25  order_profit_per_order       180519 non-null  float64
 26  order_region                 180519 non-null  object
 27  order_state                  180519 non-null  object
 28  order_status                 180519 non-null  object
 29  product_description          0 non-null       float64
 30  product_name                 180519 non-null  object
 31  product_price                180519 non-null  float64
 32  shipping_date_dateorders     180519 non-null  datetime64[ns]
 33  shipping_mode                180519 non-null  object
dtypes: datetime64[ns](2), float64(13), int64(3), object(16)
memory usage: 46.8+ MB

In [12]:
df.to_csv("data/data_clean.csv")