In [1]:
# imports

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

data_dict = pd.read_csv("data/datadict.csv")
df = pd.read_csv("data/DataCoSupplyChainDataset.csv", encoding='ISO-8859-1')

### data cleaning

In [2]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [3]:
df.shape

(180519, 53)

In [4]:
# List of columns to drop
columns_to_drop = ['Category Id', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Zipcode', 'Department Id', 'Order Item Id',
                  'Product Image', 'Order Zipcode', 'Customer Id', 'Customer Street','Order Customer Id',
        'Order Id', 'Order Item Cardprod Id', 'Product Status', 'Late_delivery_risk'
                  ]

# Drop the specified columns
df = df.drop(columns=columns_to_drop, axis=1)
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [5]:
# df["Customer Lname"].nunique()

# for i in df.columns:
#     print(i)
#     print(df[i].nunique())
#     print()

In [6]:
df['customer_country'] = df['customer_country'].replace('EE. UU.', 'US')

df['order_date_(dateorders)'] = pd.to_datetime(df['order_date_(dateorders)'])
df['shipping_date_(dateorders)'] = pd.to_datetime(df['shipping_date_(dateorders)'])

# Remove parentheses from column names
df = df.rename(columns=lambda x: x.replace('(', '').replace(')', ''))




columns_to_drop = ['product_card_id', 'product_category_id']
df = df.drop(columns=columns_to_drop, axis=1)

In [11]:
df.iloc[:, 0:18].head()

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,delivery_status,category_name,customer_city,customer_country,customer_segment,customer_state,department_name,latitude,longitude,market,order_city,order_country,order_date_dateorders
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,2018-01-31 22:56:00
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,2018-01-13 12:27:00
2,CASH,4,4,-247.779999,309.720001,Shipping on time,Sporting Goods,San Jose,US,Consumer,CA,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,2018-01-13 12:06:00
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,Sporting Goods,Los Angeles,US,Home Office,CA,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,2018-01-13 11:45:00
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,Sporting Goods,Caguas,Puerto Rico,Corporate,PR,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,2018-01-13 11:24:00

In [8]:
df.columns

Index(['type', 'days_for_shipping_real', 'days_for_shipment_scheduled',
       'benefit_per_order', 'sales_per_customer', 'delivery_status',
       'category_name', 'customer_city', 'customer_country',
       'customer_segment', 'customer_state', 'department_name', 'latitude',
       'longitude', 'market', 'order_city', 'order_country',
       'order_date_dateorders', 'order_item_discount',
       'order_item_discount_rate', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_description', 'product_name',
       'product_price', 'shipping_date_dateorders', 'shipping_mode'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 34 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   type                         180519 non-null  object
 1   days_for_shipping_real       180519 non-null  int64
 2   days_for_shipment_scheduled  180519 non-null  int64
 3   benefit_per_order            180519 non-null  float64
 4   sales_per_customer           180519 non-null  float64
 5   delivery_status              180519 non-null  object
 6   category_name                180519 non-null  object
 7   customer_city                180519 non-null  object
 8   customer_country             180519 non-null  object
 9   customer_segment             180519 non-null  object
 10  customer_state               180519 non-null  object
 11  department_name              180519 non-null  object
 12  latitude                     180519 non-null  float64
 13  longitude                    180519 non-null  float64
 14  market                       180519 non-null  object
 15  order_city                   180519 non-null  object
 16  order_country                180519 non-null  object
 17  order_date_dateorders        180519 non-null  datetime64[ns]
 18  order_item_discount          180519 non-null  float64
 19  order_item_discount_rate     180519 non-null  float64
 20  order_item_product_price     180519 non-null  float64
 21  order_item_profit_ratio      180519 non-null  float64
 22  order_item_quantity          180519 non-null  int64
 23  sales                        180519 non-null  float64
 24  order_item_total             180519 non-null  float64
 25  order_profit_per_order       180519 non-null  float64
 26  order_region                 180519 non-null  object
 27  order_state                  180519 non-null  object
 28  order_status                 180519 non-null  object
 29  product_description          0 non-null       float64
 30  product_name                 180519 non-null  object
 31  product_price                180519 non-null  float64
 32  shipping_date_dateorders     180519 non-null  datetime64[ns]
 33  shipping_mode                180519 non-null  object
dtypes: datetime64[ns](2), float64(13), int64(3), object(16)
memory usage: 46.8+ MB

In [10]:
df.to_csv("data/data_clean.csv")

In [12]:
data_dict

,FIELDS,DESCRIPTION
0,Type,: Type of transaction made
1,Days for shipping (real),: Actual shipping days of the purchased product
2,Days for shipment (scheduled),: Days of scheduled delivery of the purchased...
3,Benefit per order,: Earnings per order placed
4,Sales per customer,: Total sales per customer made per customer
5,Delivery Status,: Delivery status of orders: Advance shipping...
6,Late_delivery_risk,: Categorical variable that indicates if send...
7,Category Id,: Product category code
8,Category Name,: Description of the product category
9,Customer City,: City where the customer made the purchase
10,Customer Country,: Country where the customer made the purchase
11,Customer Email,: Customer's email
12,Customer Fname,: Customer name
13,Customer Id,: Customer ID
14,Customer Lname,: Customer lastname
15,Customer Password,: Masked customer key
16,Customer Segment,": Types of Customers: Consumer , Corporate , ..."
17,Customer State,: State to which the store where the purchase...
18,Customer Street,: Street to which the store where the purchas...
19,Customer Zipcode,: Customer Zipcode
20,Department Id,: Department code of store
21,Department Name,: Department name of store
22,Latitude,: Latitude corresponding to location of store
23,Longitude,: Longitude corresponding to location of store
24,Market,: Market to where the order is delivered : Af...
25,Order City,: Destination city of the order
26,Order Country,: Destination country of the order
27,Order Customer Id,: Customer order code
28,order date (DateOrders),: Date on which the order is made
29,Order Id,: Order code
30,Order Item Cardprod Id,: Product code generated through the RFID reader
31,Order Item Discount,: Order item discount value
32,Order Item Discount Rate,: Order item discount percentage
33,Order Item Id,: Order item code
34,Order Item Product Price,: Price of products without discount
35,Order Item Profit Ratio,: Order Item Profit Ratio
36,Order Item Quantity,: Number of products per order
37,Sales,: Value in sales
38,Order Item Total,: Total amount per order
39,Order Profit Per Order,: Order Profit Per Order
40,Order Region,: Region of the world where the order is deli...
41,Order State,: State of the region where the order is deli...
42,Order Status,": Order Status : COMPLETE , PENDING , CLOSED ..."
43,Product Card Id,: Product code
44,Product Category Id,: Product category code
45,Product Description,: Product Description
46,Product Image,: Link of visit and purchase of the product
47,Product Name,: Product Name
48,Product Price,: Product Price
49,Product Status,: Status of the product stock :If it is 1 not...
50,Shipping date (DateOrders),: Exact date and time of shipment
51,Shipping Mode,: The following shipping modes are presented ...

In [13]:
df.columns

Index(['type', 'days_for_shipping_real', 'days_for_shipment_scheduled',
       'benefit_per_order', 'sales_per_customer', 'delivery_status',
       'category_name', 'customer_city', 'customer_country',
       'customer_segment', 'customer_state', 'department_name', 'latitude',
       'longitude', 'market', 'order_city', 'order_country',
       'order_date_dateorders', 'order_item_discount',
       'order_item_discount_rate', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_description', 'product_name',
       'product_price', 'shipping_date_dateorders', 'shipping_mode'],
      dtype='object')

In [14]:
df2 = df[['type', 'sales_per_customer', 'delivery_status',
       'category_name', 'customer_country',
       'customer_segment', 'department_name', 'latitude',
       'longitude', 'market', 'order_country',
       'order_date_dateorders', 'order_item_discount',
       'order_item_discount_rate', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_description', 'product_name',
       'product_price', 'shipping_date_dateorders', 'shipping_mode']]

In [17]:
df2.iloc[:, 10:]

,order_country,order_date_dateorders,order_item_discount,order_item_discount_rate,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total,order_profit_per_order,order_region,order_state,order_status,product_description,product_name,product_price,shipping_date_dateorders,shipping_mode
0,Indonesia,2018-01-31 22:56:00,13.110000,0.04,327.750000,0.29,1,327.750000,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,Smart watch,327.750000,2018-02-03 22:56:00,Standard Class
1,India,2018-01-13 12:27:00,16.389999,0.05,327.750000,-0.80,1,327.750000,311.359985,-249.089996,South Asia,Rajastán,PENDING,NaN,Smart watch,327.750000,2018-01-18 12:27:00,Standard Class
2,India,2018-01-13 12:06:00,18.030001,0.06,327.750000,-0.80,1,327.750000,309.720001,-247.779999,South Asia,Rajastán,CLOSED,NaN,Smart watch,327.750000,2018-01-17 12:06:00,Standard Class
3,Australia,2018-01-13 11:45:00,22.940001,0.07,327.750000,0.08,1,327.750000,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,Smart watch,327.750000,2018-01-16 11:45:00,Standard Class
4,Australia,2018-01-13 11:24:00,29.500000,0.09,327.750000,0.45,1,327.750000,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,Smart watch,327.750000,2018-01-15 11:24:00,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,China,2016-01-16 03:40:00,0.000000,0.00,399.980011,0.10,1,399.980011,399.980011,40.000000,Eastern Asia,Shanghái,CLOSED,NaN,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,2016-01-20 03:40:00,Standard Class
180515,Japón,2016-01-16 01:34:00,4.000000,0.01,399.980011,-1.55,1,399.980011,395.980011,-613.770019,Eastern Asia,Osaka,COMPLETE,NaN,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,2016-01-19 01:34:00,Second Class
180516,Australia,2016-01-15 21:00:00,8.000000,0.02,399.980011,0.36,1,399.980011,391.980011,141.110001,Oceania,Australia del Sur,PENDING,NaN,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,2016-01-20 21:00:00,Standard Class
180517,Australia,2016-01-15 20:18:00,12.000000,0.03,399.980011,0.48,1,399.980011,387.980011,186.229996,Oceania,Australia del Sur,PENDING_PAYMENT,NaN,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,2016-01-18 20:18:00,Standard Class
180518,India,2016-01-15 18:54:00,16.000000,0.04,399.980011,0.44,1,399.980011,383.980011,168.949997,South Asia,Tamil Nadu,PENDING_PAYMENT,NaN,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,2016-01-19 18:54:00,Standard Class